@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #9ab3f5;
}

li, a{
    color: #f1f6f9;
    background-color: #7579e7;
}

button{
    color: #7579e7;
    background-color: #7579e7;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #7579e7;
}

.logo{
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: #7579e7;
}

.navBar{
    list-style: none;
    background-color: #7579e7;
}

.navBar li{
    display: inline-block;
    padding: 0px 20px;   
}

.navBar li a{
    transition: all 0.3s ease 0s;  
}

.navBar li a:hover{
    color: #52057b;
}

button{
    padding: 9px 25px;
    background-color: #b9fffc;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;  
}

button:hover{
    color: #52057b;
    background-color: #a3d8f4;
}

.realTime{
    color: #f1f6f9;
    padding: 200px 0px 0px 0px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.day{
    font-weight: 300;
    font-size: 41px;
}

.time{
    font-weight: 600;
    font-size: 120px;
}